<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<div class="main-contents">

    <form method="post">
        <div class="form-group">
            <label>Name
                <input th:field="${cookbook.name}" class="form-control">
            </label>
            <p class="error" th:errors="${cookbook.name}"></p>
        </div>
        <div class="form-group">
            <label>Recipes:
                <select th:field="${cookbook.recipes}">
                    <option th:each="recipe : ${recipes}"
                            th:value="${recipe.id}"
                            th:text="${recipe.name}"
                    ></option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>Recipes:
                <select th:field="${cookbook.recipes}">
                    <option th:each="recipe : ${recipes}"
                            th:value="${recipe.id}"
                            th:text="${recipe.name}"
                    ></option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success">
        </div>
    </form>
</div>
</body>
</html>