<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Recipe App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div th:fragment="page-header">
    <div style="background-color:orange; border-radius:6px;">
        <div style="color:black; padding:20px;">
            <a th:href="@{/}" style="color:black; font-size:large;">Recipe App - placeholder header</a>
        </div>
        <div style="color:black; padding:20px;"><a th:href="@{/home}" style="color:black; font-size:large;">User Home</a></div>
        <div style="color:black; padding:20px;"><a th:href="@{/logout}" style="color:black; font-size:large;">Log Out</a></div>
    </div>
</div>


<div th:fragment="view-recipes">
    <div th:each="recipe : ${recipes}"s style="border: 2px solid gray; padding: 10px; margin: 6px;">
        <a th:href="@{'/recipe/'+${recipe.id}}"><h3 th:text="${recipe.name}"></h3></a>
        <p th:text="${recipe.description}"></p>
    </div>
</div>

<div th:fragment="view-savedRecipes">
    <div th:each="recipe : ${savedRecipes}">
        <a th:href="@{'/recipe/'+${recipe.id}}"><h3 th:text="${recipe.name}"></h3></a>
        <h4 th:text="${recipe.description}"></h4>
    </div>
</div>

</body>
</html>