<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Recipe App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div th:fragment="page-header">
    <div style="background-color:orange; border-radius:6px;">
        <div style="color:black; padding:20px;">
            <a th:href="@{/}" style="color:black; font-size:large;">Recipe App - placeholder header</a>
        </div>
    </div>
</div>
</body>
</html>