<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>

<div class="main-contents">
    <h1>Hello! - placeholder user homepage</h1>
    <a href="/recipe/add">Create a Recipe</a>
    <br>
    <a href="/cookbook/add">Create a Cookbook</a>
    <br>
    <a href="/cookbook/view">View My Cookbooks</a>
    <hr>
    <div>
        <h2>My Recipes</h2>
        <div th:replace="fragments :: view-recipes">
        </div>

        <div>
            <h2>My Saved Recipes</h2>
            <div th:replace="fragments :: view-savedRecipes">
            </div>
        </div>
</div>

</body>
</html>