<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>

<div class="main-contents">
    <h1>Hello! - placeholder homepage</h1>

    <div>
        <form method="post">
            <div class="form-group">
                <label th:for="username">Username
                    <input class="form-control" th:field="${loginFormDTO.username}">
                </label>
                <p class="error" th:errors="${loginFormDTO.username}"></p>
            </div>
            <div class="form-group">
                <label>Password
                    <input class="form-control" th:field="${loginFormDTO.password}" type="password">
                </label>
                <p class="error" th:errors="${loginFormDTO.password}"></p>
            </div>

            <input type="submit" class="btn btn-primary" value="Log In" />
        </form>

        <p>Don't have an account? <a href="/register">Register for one.</a></p>
    </div>

    <a href="/recipe/view/59">Recipe 59</a>
    <div style="margin-top: 3%; margin-bottom: 1%; margin-left: 3%; margin-right: 3%">
        <div th:replace="fragments :: view-recipes">
        </div>
    </div>




</div>

</body>
</html>