<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>


<div class="main-contents">
    <div style="margin:40px; padding:10px; border: 2px solid #FFA500;">
        <h1 th:text="${recipe.name}"></h1>
        <h2 th:text="${recipe.description}"></h2>
        <p>by <a th:text="${recipeAuthor}" th:href="@{'/search/list-recipes/'+ ${recipe.recipeAuthor.getId()}}"></a></p>

        <p style="color:dark-grey;">Ingredient List</p>
        <p style="white-space: pre-line" th:text="${recipe.ingredientList}"></p>

        <h6 style="color:dark-grey;">Preparation</h6>
        <p style="white-space: pre-line" th:text="${recipe.recipeInstruction}"></p>

        <div th:if="${isUserLoggedIn and !userLoggedIn.equals(recipeAuthor) and !userHasRecipeSaved}">
<!--            <div th:if="${isUserLoggedIn}">-->
            <form method="post" th:action="@{'/recipe/view/'+${recipe.id}+'/saveRecipe'}">
<!--                <form method="post">-->
                <input type="hidden" name="recipesId" th:value="${recipe.id}">
                <input type="submit" name="save" value="Save Recipe" class="btn btn-success">
            </form>
        </div>
        <div th:if="${userHasRecipeSaved}">
            <p style="color: green;">This recipe is saved!</p>
        </div>
    </div>

    <div>
        <h2>Comments</h2>
        <div>
            <div th:each="comment : ${comments}"><p th:text="${comment.commentBody}"></p></div>
        </div>
            <form method="post" th:action="@{'/recipe/view/'+${recipe.id}+'/postComment'}">
            <div class="form-group">
                <label>Add a Comment:
                    <textarea th:field="${comment.commentBody}" class="form-control" rows="3" cols="50"></textarea>
                </label>
            </div>
            <p class="error" th:errors="${comment.commentBody}"></p>

            <div class="stars">
                <a>⭐</a>
                <a>⭐</a>
                <a>⭐</a>
                <a>⭐</a>
                <a>⭐</a>
            </div>

            <div class="form-group">
                <label>Rating:
                    <select th:field="${comment.rating}">
                        <option th:each="aRating : ${ratings}" th:text="${aRating}" th:value="${aRating}"></option>
                    </select>
                </label>

            </div>

            <div class="form-group">
                <input type="submit" value="Add Comment" class="btn btn-success">
            </div>
            </form>
    </div>
</div>

</body>
</html>