<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>


<div class="main-contents">
    <div style="margin:40px; padding:10px; border: 2px solid #FFA500;">
        <h1 th:text="${cookbook.name}"></h1>
        <ul th:each="recipe : ${cookbook.recipes}">
            <li><a th:text="${recipe.getName()}" th:href="@{'/recipe/'+${recipe.getId()}}"></a></li>
        </ul>

    </div>


</div>

</body>
</html>