<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>


<div class="main-contents">
    <div style="margin:40px; padding:10px; border: 2px solid #FFA500;">
        <h1 th:text="${recipe.name}"></h1>
        <h2 th:text="${recipe.description}"></h2>
        <p th:text="${'by '+ recipe.recipeAuthor}" th:href="@{'/list-recipes'+ ${recipe.recipeAuthor}}"></p>

        <p style="color:dark-grey;">Ingredient List</p>
        <p style="white-space: pre-line" th:text="${recipe.ingredientList}"></p>

        <h6 style="color:dark-grey;">Preparation</h6>
        <p style="white-space: pre-line" th:text="${recipe.recipeInstruction}"></p>
    </div>
</div>

</body>
</html>